@import url("global.css");

h1 {
    text-align: center;
    letter-spacing: 2px;
}

.aboutContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutImage {
    width: 100%;
    height: auto !;
}


.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 94vh; */
    margin: 52px auto;
    width: 80%;
    gap: 2rem;
}

@media only screen and (max-width: 1200px) {
    .about-container {
        /* display: flex; */
        flex-direction: column;
        height: 44vh;
        /* margin: 115px auto; */
    }

}