@import url(global.css);

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    margin: 0 auto;
    width: 80%;
    gap: 2rem;
}

.leftHomeHeading {
    width: 54%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.home-img img {
    width: 100%;
    height: auto;
}

img:hover {
    cursor: pointer;
}

h1 {
    letter-spacing: 2px;

}

.leftHomeText {
    color: var(--light-text-color) !important;
    margin-top: 27px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 63vh;
    }

    /* .home-img img {
            width: 70%;
        } */
}
