@import url(global.css);


.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
    width: 50%;
    margin: auto;
}

.input-flex {
    display: flex;
    gap: 1rem;

}

select {
    margin-bottom: 13px;
    border-radius: 7px;
    border: none;
    background-color: white;
}

input,
select {
    font-size: 17px;
    width: 100%;
}

.profileDetails {
    width: 100%;
}

textarea {
    margin-bottom: 15px;
    padding: 14px;
    border-radius: 16px;
    border: none;
}

.profile-btn {
    width: 100%;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 70px;
    margin: 1rem 0rem;
}

@media only screen and (max-width: 992px) {
    .profileContainer {
        width: 66%;
    }
}
@media only screen and (max-width: 768px) {
    .profileContainer {
        width: 80%;
    }
}
/* @media only screen and (min-width: 600px) {
    .profileContainer{
        width: 66%;
    }
} */
@media only screen and (max-width: 600px) {
    .profileContainer
    {
        width: 88%;
    }
}
